<launch>


<rosparam file="$(find rover_gazebo)/config/gazebo_rover_sim.yaml" command="load"/>

<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
<param name="robot_description" command="$(find xacro)/xacro '$(find rover_description)/urdf/rover.xacro'"/>

<arg name="x" default="0"/>
<arg name="y" default="1"/>
<arg name="z" default="0.5"/>

<!-- push robot_description to factory and spawn robot in gazebo -->
<node name="rover_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model rover -x $(arg x) -y $(arg y) -z $(arg z)"/>

<!-- ros_control rover launch file -->
<include file="$(find rover_control)/launch/rover_control.launch"/>

<!-- Launch robot state publisher /-->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
