<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rover_control)/config/rover_control_sim.yaml" command="load"/>

  <!-- load the controllers -->
  <!--node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/rover" args="left_rear_wheel_effort_controller right_rear_wheel_effort_controller
    right_front_wheel_effort_controller left_front_wheel_effort_controller
    left_steering_hinge_position_controller right_steering_hinge_position_controller joint_state_controller"/-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/rover" args="left_rear_wheel_speed_controller right_rear_wheel_speed_controller
    right_front_wheel_speed_controller left_front_wheel_speed_controller
    left_steering_hinge_position_controller right_steering_hinge_position_controller joint_state_controller"/>

  <!-- Launches joystick node /-->
  <node name="joystick" pkg="joy" type="joy_node"/>

  <!-- servo, VESC interface simulator, also contains odom TF proadcaster -->
  <node pkg="rover_control" type="VESC_servo_sim.py" name="hardware_io" ns="rover" output="screen"/>
  <!--node pkg="rover_control" type="motion_capture_sim.py" name="mocap_emulator" output="screen"/-->
  <node pkg="rover_control" type="rover_sim_interface.py" name="rover_sim_interface" ns="rover" output="screen"/>

</launch>
